.Portfolio{
    margin: 8% 8% -8% 8% ;
}
.form{
    margin-bottom: 40px;
}
.language{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.border{
    border: 5px solid rgba(175, 171, 171, 0.801) ;
}
.port_img{
    border-radius: 40px;
    width: 100%;
   height: 100%;
}
.snap_img{
    border: 1px solid rgb(54, 54, 54);
    margin: 2px;
    border-radius: 13px;
    width: 26%;
   height: 26%;
}
.p4{
    margin-top: -10px;
}
.snap_b{
    padding-top: 10px;
    padding-bottom: 17px;
    border-radius: 38px;
    background-color: 	rgb(91, 138, 123);
}
.lang1{
   width: 30%;
   height: 30%;
}
.tw{
   height: 270px;
   margin-right: 22px;
}
.maq{
    width: 100%;
    height: 280px;
}
.ciné{
    width: 100%;
    height: 280px;
}
.ecom{
    width: 100%;
    height: 275px;
}
.jeu_p{
   display: block;
}
.affiche_text{
    margin-bottom: 18px;
}
@media screen and (max-width: 1110px){ 
    .language{
        width: 700px;
    }
    .tw{
        height: 152px;
    }
    .maq, .ciné, .ecom{
        width: 180px;
        height: 150px;
    } 
    .text_techno1{
        font-size: 30px;
    }
}
@media screen and (max-width: 810px){
    .logo{
      display: flex;
    }
    .tw{
        height: 487px;
        margin-right: 22px;
     }
    .screen{
        margin-bottom: 90px;
    }
    .ciné, .maq, .ecom{
        width: 690px;
        height: 450px;
    }
    .font-sizedesc{
    font-size: 40px;
    }
    .jeu_text{
        width: 700px;
        margin: 0 a;
    }
    .language{
      display: block;
    }
    h4{
        font-size: 14px;
    }
    .text_git{
        font-size: 8px;
    }
    
}
@media screen and (max-width: 375px){
    .Portfolio{
        margin-top: 50px;
    }
}
@media screen and (max-width: 280px){
    .language{
      display: block;
      width: 800px;
    }
}