.footer-container{
    display: flex;
    justify-content:center;
    height: 95px;
    background-color: whitesmoke;
}
.copyright{
margin-top: 30px;
}
@media only screen and (max-width: 1110px){
    .footer-parent{
        display: flex;
        align-items: flex-end;
    }
}
@media screen and (max-width: 810px){
    .font-sizef{
        font-size: 52px; 
       }
    .copyright{
        margin-top: 30px;
    }
}
@media screen and (max-width: 375px){
    .copyright{
        margin-top: 30px;
        }
}
