  .text_description{
    height: 330px;
    width: 330px;  
    margin-top: 60px;
    margin-left: 50px;
  }
  .hobbies{
    margin-top: 30px;
  }
  .diplome{
    margin-top: 30px;
  }
  .about{
    margin-bottom: -155px;
  }
  .titre_h, .titre_d{
    color: #86092f; 
  }
  .profil{
    margin-top: 68px;
  }
.about_image{
    float: left;
    border-radius: 40px;
    height: 550px;
    width: 300px; 
    margin-bottom: 150px;
    margin-top: 50px;
}
.about_heading{
    margin-bottom: 10px;
    font-weight: 700;

}

.font-size{
  font-size: 22px;
}
@media screen and (max-width: 1110px){ 
  .text_description{
    display: block;
    width: 670px;
    margin-top: 30px;
    margin-left: -250px;
  }
  .text_techno{
   font-size: 38px; 
  }
  .about_image{
    visibility: hidden;
   }
  .about{
    height: 1800px;
    margin-bottom: 2200px;
  }
}
@media screen and (max-width: 910px){
   .about_image{
    border-radius: 20px;
    height: 350px;
    width: 200px; 
    margin-bottom: 110px;
    margin-top: 110px;
  }
  .text_description{
    font-size: 10px;
    height: 200px;
    width: 200px;  
    margin-top: 20px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 810px){
  #font_t{
    font-size: 66px;
  }
  
#font_s{
  font-size: 62px;
}
  .font-sizef{
    font-size: 62px; 
   }
  .font-size{
    font-size: 62px; 
   }
  .hello1{
    margin-top: 50px;
  }
  .hello2{
    margin-bottom: 50px;
  }
  .dip{
    margin-bottom: 36px;
  }
  .about_image{
   visibility: hidden;
  }
  .text_description{
    display: block;
    width: 470px;
    margin-top: 10px;
    margin-left: -150px;
  }
  .about{
    height: 3630px;
  }
}
@media screen and (max-width: 375px){

  .about_image{
    border-radius: 10px;
    height: 90px;
    width: 90px; 
    margin-bottom: 70px;
    margin-top: 70px;
  }
  .text_description{
    display: block;
    font-size: 2px;
    width: 940px;  
    margin-top: 20px;
    margin-left: 10px;
  }
  .about{
    margin-bottom: 3250px;
  }
}
@media screen and (max-width: 360px){
  .about{
    height: 850px;
  }
}
@media screen and (max-width: 320px){
  .about{
    height: 850px;
  }
}
@media screen and (max-width: 280px){
  .about{
    height: 1800px;
  }
  .text_description{
    width: 660px;
}
}
