.titre{
    font-weight: 700;
}
.Contact{
    margin: 14% 14% 0% 14%;
}
#contact-form{
    width: 400px;
    height: 400px;
    margin: 0 auto;
    
}
.form-control{
    margin-top: 30px;
    border-radius: 20px;
    border: 3px solid #111;
}
.button-submit{
    background-color: #111;
    color: white;
    border-radius: 20px;
    border: 1px solid #111;
}
strong{
    color: #86092f; 
}
.border{
    border: 5px solid rgba(175, 171, 171, 0.801) ;
}

@media screen and (max-width: 810px){
    .button-submit{
        margin: 4% 0 2% 0;
    }
    #contact-form{
    width: 700px;
    margin: 0 auto;
    margin-bottom: 460px;
    }
    .font-size1{
        font-size: 50px;
    }
}
@media screen and (max-width: 375px){
    #contact-form{
        width: 300px;
    height: 300px;
    margin: 0 auto; 
    margin-bottom: 130px;
    }
}
@media screen and (max-width: 360px){
    #contact-form{
    width: 500px;
    height: 300px;
    margin: 0 auto; 
    margin-bottom: 530px;
    }
}
@media screen and (max-width: 320px){
    #contact-form{
        width: 500px;
        height: 700px;
        margin: 0 auto; 
        margin-bottom: 130px
    } 
   
}
@media screen and (max-width: 280px){
   
    #contact-form{
    width: 550px;
    height: 300px;
    margin: 0 auto; 
    margin-bottom: 570px;
    }
}